# Ignore Maven and Gradle files
target/
build/
*.jar
*.war

# Ignore IDE files
.idea/
*.iml
*.class
*.log

# Ignore environment files
application.yml

# Ignore local environment variables
.env

# Ignore test output
test-output/
*.class

# Ignore other system files
.DS_Store
Thumbs.db

springapp/src/main/resources/static/
angularapp/package.json