<div class="email-form">
    <h2>Forgot Password</h2>
    <div *ngIf="!otpSent">
      <form>
        <label for="email">Email:</label>
        <input type="email" id="email" [(ngModel)]="senderMail" name="email" required>
        <button type="button" (click)="validateEmail()">Verify Email</button>
        <button type="button" *ngIf="validMail" (click)="sendOtpEmail()">Send OTP</button>
      </form>
    </div>
   
    <div *ngIf="otpSent && !otpVerified">
      <form>
        <label for="otp">Enter OTP:</label>
        <input type="text" id="otp" [(ngModel)]="otpInput" name="otp" required>
        <button type="button" (click)="verifyOtp()">Verify OTP</button>
      </form>
    </div>
   
    <div *ngIf="otpVerified">
      <form>
        <label for="newPassword">New Password:</label>
        <input type="password" id="newPassword" [(ngModel)]="newPassword" name="newPassword" required>
   
        <label for="confirmNewPassword">Confirm New Password:</label>
        <input type="password" id="confirmNewPassword" [(ngModel)]="confirmNewPassword" name="confirmNewPassword"
          required>
   
        <button type="button" (click)="resetPassword()">Reset Password</button>
      </form>
    </div>
  </div>