<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us - FarmAid</title>
</head>

<body>
    <div class="about-container">
        <img src="assets/logo.png">
        <h1>About FarmAid</h1>
        <p>FarmAid is dedicated to empowering farmers by providing them with the financial resources and support they
            need to thrive. Our mission is to streamline the loan application process, making it accessible, quick, and
            efficient for farmers everywhere. We believe in fostering growth and sustainability in the agricultural
            sector through innovative financial solutions.</p>

        <h2>Meet Our Team</h2>
        <div class="team-container">
            <div class="team-card">
                <img src="assets/Janhavi.jpg" alt="Developer 1">
                <h3>Janhavi</h3>
                
            </div>
            <div class="team-card">
                <img src="assets/Aastha.jpg" alt="Developer 2">
                <h3>Aastha</h3>
                
            </div>
            <div class="team-card">
                <img src="assets/Bhadri.JPG" alt="Developer 3">
                <h3>Bhadri</h3>
                
            </div>
            <div class="team-card">
                <img src="assets/Eakas.JPG" alt="Developer 4">
                <h3>Eakas</h3>
                    
            </div>
            <div class="team-card">
                <img src="assets/Rahul.jpg" alt="Developer 5">
                <h3>Rahul</h3>
                
            </div>
        </div>
    </div>

    <footer class="footer">
        <div class="left">
            <a routerLink="api/about">About Us</a>
            <a routerLink="api/about">Contact Us</a>
        </div>
        <div class="right">
            <img src="assets/logo.png" alt="Logo">
        </div>
        <div class="copyright">
            &copy; 2024 FarmAid All rights reserved.
        </div>
        <div class="back-to-top" onclick="window.scrollTo({top: 0, behavior: 'smooth'});">
            &#8679;
        </div>
    </footer>
</body>

</html>